@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Lora:wght@400;500;600;700&family=Montserrat:wght@300;400&family=PT+Mono&family=PT+Serif:wght@400;700&family=Playfair+Display:wght@400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
}
.line {
  width: 80px;
  height: 3px;
  background-color: blueviolet;
}
h3 {
  font-size: 2.2rem;
}
p {
  font-size: 1.1rem;
  line-height: 1.7rem;
}
button {
  padding: 1rem 1.7rem;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  color: white;
  background-color: blueviolet;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
}
button:hover {
  color: blueviolet;
  background-color: white;
  border: 1px solid blueviolet;
}
.card {
  max-width: 500px;
  width: 100%;
  padding: 3rem;
  background-color: blueviolet;
  margin: -3rem 0;
}
/* !Start Home Section */
#home {
  height: 100vh;
  background-image: url("./images/manuel-cosentino.jpg");
  background-size: cover;
  position: relative;
}
.container {
  margin: 0 6rem;
}

.home {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
}
.home::before {
  content: "H";
  font-size: 26rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  color: rgba(255, 255, 255, 0.692);
  opacity: 0.2;
  z-index: -1;
  top: -75px;
}
.home-1 {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
}
.home-text {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  color: white;
}
.home-1 > .home-text > h1 {
  font-size: 4rem;
}
.home-1 > .home-text > p {
  font-size: 1.1rem;
  line-height: 1.7rem;
  margin-left: 1rem;
}
.home-1 > .home-text > div > button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  color: white;
}

.home-1 .dots {
  display: flex;
  gap: 0.75rem;
  padding-top: 5rem;
}
.home-1 .dots div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: white;
}
.home-1 .dots .active-dot {
  background-color: transparent;
  border: 1px solid white;
}
.home-2 {
  flex-basis: 30%;
}
.home-2 > .image {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: end;
}
.home-2 > .image > img {
  width: 100px;
  height: 70px;
  object-fit: cover;
}
.active-img {
  border: 1px solid white;
}

.home-3 {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
  background-color: blueviolet;
  bottom: -55px;
  position: absolute;
  color: white;
}
.home-3 > div {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  gap: 0.75rem;
  justify-content: center;
}
.home-3 input,
.home-3 select {
  padding: 1rem 1.5rem;
  background-color: rgb(206, 177, 233);
  border: none;
}
.home-3 .search {
  background-color: #232339;
  align-items: center;
}

.backoverlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.218);
  height: 100%;
  width: 100%;
  z-index: 0;
}

/* !End Home Section */

/* !Start About Section */

#about {
  margin-top: 7rem;
}
.about {
  display: flex;
}
.about > .about-img {
  flex-basis: 50%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: max-content;
  place-items: end;
}
.about-img > img {
  width: 100%;
}
.about-img > img:nth-child(1) {
  grid-column: 1/6;
  grid-row: 1/2;
}
.about-img > img:nth-child(2) {
  grid-column: 3/8;
  grid-row: 1/2;
}
.about > .about-text {
  flex-basis: 50%;
}
.about-text > .about-maintext {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about-text > .about-subtext {
  margin-top: 2rem;
  margin-left: 1.5rem;
}
.about-text > .about-subtext p {
  margin-bottom: 1rem;
}

/* !End About Section */

/* !Start Service Section */
#service {
  margin-top: 7rem;
  background-image: url("./images/sara-dubler.jpg");
  background-size: cover;
}
.service {
  display: flex;
  justify-content: flex-end;
  color: white;
}
.card-text > h3 {
  margin-bottom: 1rem;
}
.card-items {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-between;
}
.card-items > div {
  display: flex;
  gap: 1rem;
  flex-basis: 45%;
  align-items: center;
}
.card-items p {
  font-size: 1rem;
}
/* !End Service Section */

/* !Start Room Section */

#room {
  margin-top: 7rem;
}
.room {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.room-text > * {
  margin-bottom: 0.7rem;
}
.room-btn {
  position: absolute;
  right: 0;
  top: 20px;
}
.room-img {
  flex-basis: 100%;
  display: flex;
  gap: 1rem;
}
.room-img > div {
  flex-grow: 1;
}
.room-img > div > img {
  width: 100%;
}

/* !End Room Section */

/* !Start review Section */
#review {
  background-image: url("./images/seefromthesky.jpg");
  background-size: cover;
  margin-top: 7rem;
}
.review {
  display: flex;
  justify-content: flex-start;
  color: white;
}
.review > .card {
  padding: 4.5rem 3rem;
}
.review > .card > .card-title > .line {
  background-color: white;
}
.card-title > * {
  margin-bottom: 0.7rem;
}
.card-review {
  margin-top: 2rem;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.card-review > q {
  font-size: 1rem;
  line-height: 1.5rem;
}
.card-review > div {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.card-review > div > img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
}
.user-info > p {
  font-size: 0.9rem;
}
/* !End review Section */

/* !Start Restaurant Section */
#restaurant {
  margin-top: 7rem;
}
.restaurant {
  display: flex;
  gap: 2rem;
}
.restaurant > img {
  max-width: 500px;
  max-height: 600px;
  width: 100%;
  height: auto;
}
.food {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.res-info > * {
  margin-bottom: 1rem;
}
.accordian {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.accordian-items > input {
  display: none;
}
/* !End Restaurant Section */

@media (max-width: 900px) {
  /* home section */
  #home {
    height: unset;
  }
  .container {
    margin: 0 3rem;
  }
  .home {
    padding-top: 4rem;
    flex-direction: column;
  }
  .home-1 {
    flex-basis: unset;
  }
  .home-2 {
    margin-top: 3rem;
  }

  .home-2 > .image {
    flex-direction: row;
  }
  .home-2 > .image > img {
    width: 125px;
  }
  .home-1 .dots {
    display: none;
  }
  /* about section */
  #about {
    margin-top: 10rem;
  }
  .about {
    flex-direction: column;
    gap: 3rem;
  }
  .about > .about-img {
    grid-template-columns: repeat(7, 10%);
    place-content: center;
  }
  /* service section */
  .service {
    justify-content: center;
  }
  /* room section */
  .room-img {
    flex-wrap: wrap;
    justify-content: center;
  }
  .room-img > div {
    flex-grow: unset;
    flex-basis: 45%;
  }
  /* review section */
  .review {
    justify-content: center;
  }
}
@media (max-width: 426px) {
  p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  /* home section */

  .home {
    height: auto;
  }
  .container {
    margin: 0 1rem;
  }
  .home:before {
    font-size: 300px;
    top: -45px;
  }
  .home-1 > .home-text > h1 {
    font-size: 2rem;
  }
  .home-2 {
    margin-top: 2rem;
    margin-bottom: 5rem;
  }
  .home-2 > .image {
    flex-wrap: wrap;
    justify-content: center;
  }
  .home-2 > .image > img {
    flex-basis: 45%;
    height: 90px;
  }
  .home-3 {
    grid-template-columns: 360px;
    bottom: -470px;
  }
  .home-3 > div {
    padding: 0.7rem 1.5rem;
  }
  .home-3 > div:first-child {
    padding-top: 2rem;
  }
  .home-3 > .search {
    margin-top: 1rem;
    padding: 1.5rem;
  }
  /* about section */
  #about {
    margin-top: 35rem;
  }
  .about > .about-img {
    grid-template-columns: repeat(7, 1fr);
  }
  /* service section */
  .service > .card {
    padding: 3rem 1rem;
  }
  .card-items {
    flex-wrap: wrap;
  }

  .card-items > div {
    flex-basis: 100%;
  }
  /* room section */
  .room-img > div {
    flex-basis: 100%;
  }
  .room-btn {
    right: unset;
    top: unset;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  /* review section */
  #review {
    margin-top: 12rem;
  }
  .review > .card {
    padding: 3rem 1rem;
  }
  .card-review {
    margin-left: 1rem;
  }
}

@media (max-width: 360px) {
  .home-3 {
    grid-template-columns: 300px;
  }
}
